@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    display: flex;
    justify-content: center; /* Alineamos en eje X */
    align-items: center; /* Alineamos en el eje Y */
    height: 95vh; /* Ocupa todo el  */
    background-color: hsl(213, 67%, 88%);
}   
.card{
    background-color: hsl(0, 0%, 100%);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    text-align: center;
    border-radius: 1em;
}
.card--imagen{
    width: 200px;
    border-radius: 1em;
}
.card--titulo{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}
.card--parrafo{
    font-size: 12px;
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
}